{% extends 'base.html' %}

{% block content%}
<div class="container p-3 bg-warning text-light">
   <h2 class="text-center">List of Events</h2> 
{% for event in events %}    
<h4 class="my-3 text-dark">{{forloop.counter }}.  {{event}}</h4>
<ul class="list-group list-group-flush rounded">
    <li class="list-group-item">Event Date: {{event.event_date}}</li>
    <li class="list-group-item">Days to begin: {{event.Days_till}}</li>
    <li class="list-group-item">Event Place: {{event.venue}}</li>
    <li class="list-group-item">Event Manager: {{event.manager}}</li>
    <li class="list-group-item"> Event Description: {{event.description}}</li>
    <li class="list-group-item">number of Visitors : {{number}}</li>
    {% if user.is_authenticated %}
    <li class="list-group-item"><a href="{% url 'edit_event' event.id %}" class="btn btn-success">Edit Event</a> <a href="{% url 'delete_event' event.id %}" class="btn btn-danger"> Delete Event</a></li>
    {% endif %}
</ul>
{% endfor %}
</div>

{% endblock %}
